/* Cores */
:root {

    /* Fundo */
    --background-color: rgba(7,7,7,1);
    --foreground-color: #000f17;

    /* Principais */
    --main-blue: #015f95;
    --main-yellow: #f5f806;
    --main-white: #f7f7f7;
    --main-red: #950101;
    --main-green: #019508;

    /* Listras azuis */
    --deepest-blue: rgba(2, 29, 44, 1);
    --ease-deep-blue: rgba(6, 47, 70, 1);
    --deep-blue: rgba(4, 35, 53, 1);

    /* Listras vermelhas */
    --deepest-red: rgb(44, 2, 2);
    --ease-deep-red: rgb(70, 6, 6);
    --deep-red: rgb(53, 4, 4);

    /* Listras verdes */
    --deepest-green: rgb(5, 44, 2);
    --ease-deep-green: rgb(11, 70, 6);
    --deep-green: rgb(6, 53, 4);
}