@import "./colors.css";

/* Cor de fundo */
body {
    background: rgb(7,7,7);
    background-image: linear-gradient(180deg, var(--background-color), var(--deepest-blue));
}

/* Remove estilização dos links */
a {
    all: unset;
    text-decoration: none;
}

/* Definições globais de estilização de texto */
p, a, h1, h2, h3, h4, h5, h6, .text {font-family:'Courier New', Courier, monospace;}
p, a, .text {font-size: 1rem;}

/* Contêiner de conteúdo da página */
#main-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}
@media (orientation: portrait) {
    .main-container-margin {
        margin-top: 24%;
    }
}
@media (orientation: landscape) {
    .main-container-margin {
        margin-top: 10%;
    }
}

/* Botões */
.button, .red-button, .green-button {
    margin-top: 2%;
    margin-bottom: 2%;
    min-width: 15%;
    width: auto;
    height: auto;
    padding: 0.5rem 1rem;
    font-size: 1.4rem;
    transition-duration: 0.1s;
    transition-timing-function: linear;
    cursor: pointer;
}

/* Botão comum (azul) */
.button {
    border: 2px solid var(--main-blue);
    background-color: var(--deepest-blue);
    color: var(--main-blue);
}
.button:hover {
    color: rgb(77, 153, 179);
    border: 2px solid rgb(77, 153, 179);
}

/* Botão negativo (vermelho) */
.red-button {
    border: 2px solid var(--main-red);
    background-color: var(--deepest-red);
    color: var(--main-red);
}
.red-button:hover{
    color: #d82222;
    border: 2px solid #d82222;
}

/* Botão positivo (verde) */
.green-button {
    border: 2px solid var(--main-green);
    background-color: var(--deepest-green);
    color: var(--main-green);
}
.green-button:hover{
    color: #21ca29;
    border: 2px solid #21ca29;
}