@import "./colors.css";

/* Texto */
.form-h2 {
    font-size: 2.0rem;
    color: var(--text-common-color);
    margin-bottom: 1.0rem;
}
.form-h3 {
    font-size: 1.2rem;
    color: var(--text-common-color);
    margin-bottom: 0.5rem;
}
.form-top-label-with-margin {
    margin-top: 2.0rem;
}

/* Containers de informação */
.form-info-container {
    width: calc(100% - 2rem);
    border: 0;
    border-left: 4px ridge var(--review-text-color);
    padding: 1rem;
    background-color: var(--navigation-bar-background-color);
    color: var(--text-common-color);
    white-space: no-wrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* Botão */
.form-button {
    font-size: 1.2rem;
    height: 2.4rem;
    width: auto;
    min-width: 30%;
}

/* Textos normal e indicador de falhas */
.form-normal-input-text {
    margin-bottom: 2.0rem;
}
.form-failed-input-text {
    color: var(--red-text-color);
    margin-bottom: 1rem;
}

/* Para organizar os botões e os campos duplos */
.form-update-buttons-section, .form-double-section {
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
}
.form-double-section {
    width: 100%;
}
.form-vertical-section {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.form-vertical-section .form-info-container, .form-double-section .form-info-container {
    width: calc(95% - 2rem);
}


/* Tabelas */
.form-table {
    width: 100%;
    margin-top: 1.0rem;
    margin-bottom: 2.0rem;
    border-radius: 8px;
    border: var(--box-border);
}
.form-table tr {
    max-height: 2.0rem;
    width: 100%;
    align-items: center;
}
.form-table th { 
    color: antiquewhite;
    font-size: 1.4rem;
}
.form-table td {
    color: var(--text-common-color);
    font-size: 1rem;
    white-space: no-wrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.form-table th, .form-table td {
    padding: 0.5rem;
    text-align: center;
}
.form-table-header-row {
    background-color: var(--foreground-color);
}
.form-table-item-row-0, .form-table-item-row-1 {
    color: var(--text-color);
}
.form-table-item-row-0 {
    background-color: var(--table-row-0-background-color);
}
.form-table-item-row-1 {
    background-color: var(--table-row-1-background-color);
}
.form-table-item-row-emphasis {
    color: var(--darker-text-color);
    background-color: var(--dark-blue-emphasis-color);
}
.form-table-title-item {
    width: 50%;
}
.form-table-center-item {
    width: 25%;
}
.form-table-last-item {
    width: 25%;
}
.form-table a {
    color: var(--review-text-color);
    text-decoration: underline;
}